{% extends "layout.html" %}
{% block titulo %}
About the project
{{ super() }}
{% endblock %}

{% block contenido %}

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">
                      <img src="{{ url_for('static', filename='img/logo3.png') }}" alt="SnapX Photography Template">
                  </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a href="{{url_for('index')}}" class="active">Home</a></li>
                        <li>
                         <a href="{{url_for('about')}}">About the project</a>
                       </li>
                        <li><a href="{{url_for('catalogo')}}">Productos</a></li>
                    </ul> 
                    <div class="border-button">
                      <a href="{{url_for('log_in')}}"><i class="fa fa-user"></i> Log in</a>
                    </div>  
                    <div class="border-button">
                      <a href="{{url_for('sign_up')}}"><i class="fa fa-user"></i> Sign In</a>
                    </div>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

<h1> Hola pepe </h1>

{% endblock %}