{% extends "layout.html" %}
{% block titulo %}
{% endblock %}
{% block contenido %}
  
<header class="header-area header-sticky">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <nav class="main-nav">
                  <!-- ***** Logo Start ***** -->
                  <a href="index.html" class="logo">
                    <img src="{{ url_for('static', filename='img/logo3.png') }}" alt="SnapX Photography Template">
                </a>
                  <!-- ***** Logo End ***** -->
                  <!-- ***** Menu Start ***** -->
                  <ul class="nav">
                      <li><a href="{{url_for('catalogoHome')}}">Catalogo</a></li>
                      <li><a href="{{url_for('categoriasUsuario')}}">Categorias</a></li>
                      <li><a class="active">{{usuario}}</a></li>
                      <li class="has-sub">
                        <a href="javascript:void(0)">Perfil</a>
                        <ul class="sub-menu">
                            <li><a href="contests.html">Editar Perfil</a></li>
                            <li><a href="{{url_for('logout')}}">Cerrar sesión</a></li>
                        </ul>
                    </li>
                  </ul> 
                  
                   
                  <div class="border-button">
                    <a href="{{url_for('sCarrito')}}"><i class="fa fa-shopping-cart"></i> Carrito</a>
                  </div>
                  
                  <!-- ***** Menu End ***** -->
              </nav>
          </div>
      </div>
  </div>
 </header>
 <!-- ***** Header Area End ***** -->


    <!-- ***** Men Area Starts ***** -->
    <section class="section" id="men">

        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2>Laptop</h2>
                        <span>Las mejores laptops del mercado</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="men-item-carousel">
                        <div class="owl-men-item owl-carousel">
                            {% for p in productos %}
                                {% if p[2] == "Lap top" %}
                                    <div class="item">
                                        <div class="thumb">
                                            <div class="hover-content">
                                                <ul>
                                                    <li><a href="single-product.html"><i class="fa fa-eye"></i></a></li>
                                                    <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                                                    <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>
                                                </ul>
                                            </div>
                                            <img src= "{{url_for('static',filename='img/' + p[4]) }}" style="width: 300px; height: 300px;">
                                        </div>
                                        <div class="down-content">
                                            <h4>{{ p[6] }}</h4>
                                            <span>${{ p.precio }}</span>
                                            <ul class="stars">
                                                <!-- Agrega estrellas según sea necesario -->
                                            </ul>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        
    </section>
    <!-- ***** Men Area Ends ***** -->


    <section class="section" id="men">

        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2>Teclados</h2>
                        <span>Las mejores Teclados del mercado</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="men-item-carousel">
                        <div class="owl-men-item owl-carousel">
                            {% for p in productos %}
                                {% if p[2] == "Teclado" %}
                                    <div class="item">
                                        <div class="thumb">
                                            <div class="hover-content">
                                                <ul>
                                                    <li><a href="single-product.html"><i class="fa fa-eye"></i></a></li>
                                                    <li><a href="single-product.html"><i class="fa fa-star"></i></a></li>
                                                    <li><a href="single-product.html"><i class="fa fa-shopping-cart"></i></a></li>
                                                </ul>
                                            </div>
                                            <img src= "{{url_for('static',filename='img/' + p[4]) }}" style="width: 300px; height: 300px;">
                                        </div>
                                        <div class="down-content">
                                            <h4>{{ p[6] }}</h4>
                                            <span>${{ p.precio }}</span>
                                            <ul class="stars">
                                                <!-- Agrega estrellas según sea necesario -->
                                            </ul>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        
    </section>
    <!-- ***** Men Area Ends ***** -->

    

{% endblock%}