{% extends "layout.html" %}
{% block titulo %}
NextWeb hub
{% endblock %}
{% block contenido %}
  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
   <div class="container">
       <div class="row">
           <div class="col-12">
               <nav class="main-nav">
                   <!-- ***** Logo Start ***** -->
                   <a href="index.html" class="logo">
                     <img src="{{ url_for('static', filename='img/logo3.png') }}" alt="SnapX Photography Template">
                 </a>
                   <!-- ***** Logo End ***** -->
                   <!-- ***** Menu Start ***** -->
                   <ul class="nav">
                       <li><a href="{{url_for('index')}}" class="active">Home</a></li>
                       <li>
                        <a href="{{url_for('about')}}">About the project</a>
                      </li>
                       <li><a href="{{url_for('catalogoHome')}}">Catalogo</a></li>
                   </ul> 
                   <div class="border-button">
                     <a href="{{url_for('log_in')}}"><i class="fa fa-user"></i> Log in</a>
                   </div>  
                   <div class="border-button">
                     <a href="{{url_for('sign_up')}}"><i class="fa fa-user"></i> Sign In</a>
                   </div>
                   <a class='menu-trigger'>
                       <span>Menu</span>
                   </a>
                   <!-- ***** Menu End ***** -->
               </nav>
           </div>
       </div>
   </div>
 </header>
 <!-- ***** Header Area End ***** -->

 
  <!-- ***** Main Banner Area Start ***** -->
  <div class="main-banner">
   <div class="container">
     <div class="row">
       <div class="col-lg-10 offset-lg-1">
         <div class="header-text">
            <br><br><br><br><br><br><br><br><br><br>
   
         </div>
       </div>
     </div>
   </div>
 </div>
 <!-- ***** Main Banner Area End ***** -->

 
 <section class="featured-items" id="featured-items">
   <div class="container">
     <div class="row">
       <div class="col-lg-12">
         <div class="owl-features owl-carousel" style="position: relative; z-index: 5;">
         {% for producto in productos %}
           <div class="item">
             <div class="thumb">
               <img src= "{{url_for('static',filename='img/' + producto[4]) }}" alt="">
               <div class="hover-effect">
                 <div class="content">
                   <h4>{{producto[6]}} <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <span>(4.5)</span></h4>
                   <ul>
                     <li><span>Categoria:</span>{{producto[2]}}</li>
                     <li><span>Precio:</span> {{producto[1]}}</li>
                   </ul>
                 </div>
               </div>
             </div>
           </div>
         {% endfor %}
         </div>
       </div>
     </div>
   </div>
 </section>


 
    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner2" id="top">
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-6">
                  <div class="left-content">
                      <div class="thumb">
                          
                          <img src="{{ url_for('static', filename='img/cate1.jpg') }}" alt="">
                      </div>
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="right-content">
                      <div class="row">
                          <div class="col-lg-6">
                              <div class="right-first-image">
                                  <div class="thumb">
                                      <div class="inner-content">
                                          <h4>Laptops</h4>
                                          <span>Las mejor laptops al mejor precio</span>
                                      </div>
                                      <div class="hover-content">
                                          <div class="inner">
                                              <h4>Laptops</h4>
                                              <p>Contamos con una gran Variedad de laptops</p>
                                              <div class="main-border-button">
                                                  <a href="#">Ver más</a>
                                              </div>
                                          </div>
                                      </div>
                                      <img src="{{ url_for('static', filename='img/cate2.jpg') }}">
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="right-first-image">
                                  <div class="thumb">
                                      <div class="inner-content">
                                          <h4>Audifonos</h4>
                                          <span>Los mejor Audifonos</span>
                                      </div>
                                      <div class="hover-content">
                                          <div class="inner">
                                              <h4>Audifonos</h4>
                                              <p>Tenemos una Variedad de Audifonos para todos.</p>
                                              <div class="main-border-button">
                                                  <a href="#">Ver más</a>
                                              </div>
                                          </div>
                                      </div>
                                      <img src="{{ url_for('static', filename='img/cate3.jpg') }}">
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="right-first-image">
                                  <div class="thumb">
                                      <div class="inner-content">
                                          <h4>Teclados</h4>
                                          <span>Los mejores Teclados y de máyor calidad</span>
                                      </div>
                                      <div class="hover-content">
                                          <div class="inner">
                                              <h4>Teclados</h4>
                                              <p>Teclados de alta calidad, exelentes para todos los gustos.</p>
                                              <div class="main-border-button">
                                                  <a href="#">Ver más</a>
                                              </div>
                                          </div>
                                      </div>
                                      <img src="{{ url_for('static', filename='img/cate4.jpg') }}">
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="right-first-image">
                                  <div class="thumb">
                                      <div class="inner-content">
                                          <h4>Accesorios</h4>
                                          <span>Los mejor Accesorios para tu setup</span>
                                      </div>
                                      <div class="hover-content">
                                          <div class="inner">
                                              <h4>Accesorios</h4>
                                              <p>Contamos con una gran Variedad de bellos Accesorios</p>
                                              <div class="main-border-button">
                                                  <a href="#">Ver más</a>
                                              </div>
                                          </div>
                                      </div>
                                      <img src="{{ url_for('static', filename='img/cate5.jpg') }}">
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- ***** Main Banner Area End ***** -->

  
  <section class="popular-categories">
   <div class="container-fluid">
     <div class="row">
       <div class="col-lg-6">
         <div class="section-heading">
           <h6>Nuestras Categorias</h6>
           <h4>Los Producto Más <em>Popular</em> De Nuestras <em>Categorias</em></h4>
         </div>
       </div>
       <div class="col-lg-6">
         <div class="main-button">
           <a href="categories.html">Discover All Categories</a>
         </div>
       </div>
       {% for p in productos%}
         {% if loop.index <= 4 %}
       <div class="col-lg-3 col-sm-6">
         <div class="popular-item">
           <div class="top-content">
             <div class="icon">
               <img src="{{url_for('static',filename='img/' + p[4]) }}" alt="auto">
             </div>
             <div class="right">
               <h4>{{p[2]}}</h4>
               <span><em>{{p[1]}}</em> Precio</span>
             </div>
           </div>
           <div class="thumb">
             <img src="{{url_for('static',filename='img/' + p[4]) }}" alt="">
             <span class="category">Me encatan:</span>
             <span class="likes"><i class="fa fa-heart"></i> +100</span>
           </div>
           <div class="border-button">
             <a href="contest-details.html">Browse Nature Pic Contests</a>
           </div>
         </div>
       </div>
       {% endif %}
       {% endfor%}
     </div>
   </div>
 </section>


{% endblock %}