{% extends "layout.html" %}
{% block titulo %}
NextWeb hub
{% endblock %}
{% block contenido %}
  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
   <div class="container">
       <div class="row">
           <div class="col-12">
               <nav class="main-nav">
                   <!-- ***** Logo Start ***** -->
                   <a href="index.html" class="logo">
                     <img src="{{ url_for('static', filename='img/logo3.png') }}" alt="SnapX Photography Template">
                 </a>
                   <!-- ***** Logo End ***** -->
                   <!-- ***** Menu Start ***** -->
                   <ul class="nav">
                       <li><a href="{{url_for('index')}}" class="active">Home</a></li>
                       <li>
                        <a href="{{url_for('about')}}">About the project</a>
                      </li>
                       <li><a href="{{url_for('catalogo')}}">Productos</a></li>
                   </ul> 
                   <div class="border-button">
                     <a href="{{url_for('log_in')}}"><i class="fa fa-user"></i> Log in</a>
                   </div>  
                   <div class="border-button">
                     <a href="{{url_for('sign_up')}}"><i class="fa fa-user"></i> Sign In</a>
                   </div>
                   <a class='menu-trigger'>
                       <span>Menu</span>
                   </a>
                   <!-- ***** Menu End ***** -->
               </nav>
           </div>
       </div>
   </div>
 </header>
 <!-- ***** Header Area End ***** -->

 
  <!-- ***** Main Banner Area Start ***** -->
  <div class="main-banner">
   <div class="container">
     <div class="row">
       <div class="col-lg-10 offset-lg-1">
         <div class="header-text">
            <br><br><br><br><br><br><br><br><br><br>
   
         </div>
       </div>
     </div>
   </div>
 </div>
 <!-- ***** Main Banner Area End ***** -->

 
 <section class="featured-items" id="featured-items">
   <div class="container">
     <div class="row">
       <div class="col-lg-12">
         <div class="owl-features owl-carousel" style="position: relative; z-index: 5;">
           <div class="item">
             <div class="thumb">
               <img src="{{ url_for('static', filename='img/fon.png') }}" alt="">
               <div class="hover-effect">
                 <div class="content">
                   <h4>Walk In The Nature <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <span>(4.5)</span></h4>
                   <ul>
                     <li><span>Contest Winner:</span> Vincent Adam</li>
                     <li><span>Contest Author:</span> Anthony Soft</li>
                     <li><span>Awards:</span> $1.000 + Camera Nikon</li>
                   </ul>
                 </div>
               </div>
             </div>
           </div>
           <div class="item">
             <div class="thumb">
               <img src="{{ url_for('static', filename='img/fon.png') }}" alt="">
               <div class="hover-effect">
                 <div class="content">
                   <h4>Smile In The Nature <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <span>(4.5)</span></h4>
                   <ul>
                     <li><span>Contest Winner:</span> Thomas Eddy</li>
                     <li><span>Contest Author:</span> Anthony Soft</li>
                     <li><span>Awards:</span> $1,200 + Canon EOS R7</li>
                   </ul>
                 </div>
               </div>
             </div>
           </div>
           <div class="item">
             <div class="thumb">
               <img src="{{ url_for('static', filename='img/fon.png') }}" alt="">
               <div class="hover-effect">
                 <div class="content">
                   <h4>Happy In The Nature <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <span>(4.5)</span></h4>
                   <ul>
                     <li><span>Contest Winner:</span> Vincent Adam</li>
                     <li><span>Contest Author:</span> Anthony Soft</li>
                     <li><span>Awards:</span> $1,800 + Canon EOS R6</li>
                   </ul>
                 </div>
               </div>
             </div>
           </div>
           <div class="item">
             <div class="thumb">
               <img src="{{ url_for('static', filename='img/fon.png') }}" alt="">
               <div class="hover-effect">
                 <div class="content">
                   <h4>Walk In The Nature <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <span>(4.5)</span></h4>
                   <ul>
                     <li><span>Contest Winner:</span> Thomas Eddy</li>
                     <li><span>Contest Author:</span> Anthony Soft</li>
                     <li><span>Awards:</span> $8,400 + Canon EOS R1</li>
                   </ul>
                 </div>
               </div>
             </div>
           </div>
           <div class="item">
             <div class="thumb">
               <img src="{{ url_for('static', filename='img/fon.png') }}" alt="">
               <div class="hover-effect">
                 <div class="content">
                   <h4>Run In The Nature <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <span>(4.5)</span></h4>
                   <ul>
                     <li><span>Contest Winner:</span> Vincent Adam</li>
                     <li><span>Contest Author:</span> Anthony Soft</li>
                     <li><span>Awards:</span> $5,500 + Canon EOS R3</li>
                   </ul>
                 </div>
               </div>
             </div>
           </div>
           <div class="item">
             <div class="thumb">
               <img src="{{ url_for('static', filename='img/fon.png') }}" alt="">
               <div class="hover-effect">
                 <div class="content">
                   <h4>Stay In The Nature <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <span>(4.5)</span></h4>
                   <ul>
                     <li><span>Contest Winner:</span> Thomas Eddy</li>
                     <li><span>Contest Author:</span> Anthony Soft</li>
                     <li><span>Awards:</span> $4,400 + Canon EOS R5</li>
                   </ul>
                 </div>
               </div>
             </div>
           </div>
           <div class="item">
             <div class="thumb">
               <img src="{{ url_for('static', filename='img/fon.png') }}" alt="">
               <div class="hover-effect">
                 <div class="content">
                   <h4>Walk In The Nature <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <span>(4.5)</span></h4>
                   <ul>
                     <li><span>Contest Winner:</span> Vincent Adam</li>
                     <li><span>Contest Author:</span> Anthony Soft</li>
                     <li><span>Awards:</span> $3,800 + Canon EOS R6</li>
                   </ul>
                 </div>
               </div>
             </div>
           </div>
           <div class="item">
             <div class="thumb">
               <img src="{{ url_for('static', filename='img/fon.png') }}" alt="">
               <div class="hover-effect">
                 <div class="content">
                   <h4>Shoot In The Nature <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <span>(4.5)</span></h4>
                   <ul>
                     <li><span>Contest Winner:</span> Vincent Adam</li>
                     <li><span>Contest Author:</span> Anthony Soft</li>
                     <li><span>Awards:</span> $2,400 + Canon EOS R7</li>
                   </ul>
                 </div>
               </div>
             </div>
           </div>
           <div class="item">
             <div class="thumb">
               <img src="{{ url_for('static', filename='img/fon.png') }}" alt="">
               <div class="hover-effect">
                 <div class="content">
                   <h4>Fly In The Nature <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> <span>(4.5)</span></h4>
                   <ul>
                     <li><span>Contest Winner:</span> Vincent Adam</li>
                     <li><span>Contest Author:</span> Anthony Soft</li>
                     <li><span>Awards:</span> $1,200 + Canon EOS R10</li>
                   </ul>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>


 
    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner2" id="top">
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-6">
                  <div class="left-content">
                      <div class="thumb">
                          
                          <img src="{{ url_for('static', filename='img/fon.png') }}" alt="">
                      </div>
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="right-content">
                      <div class="row">
                          <div class="col-lg-6">
                              <div class="right-first-image">
                                  <div class="thumb">
                                      <div class="inner-content">
                                          <h4>Women</h4>
                                          <span>Best Clothes For Women</span>
                                      </div>
                                      <div class="hover-content">
                                          <div class="inner">
                                              <h4>Women</h4>
                                              <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.</p>
                                              <div class="main-border-button">
                                                  <a href="#">Discover More</a>
                                              </div>
                                          </div>
                                      </div>
                                      <img src="{{ url_for('static', filename='img/fon.png') }}">
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="right-first-image">
                                  <div class="thumb">
                                      <div class="inner-content">
                                          <h4>Men</h4>
                                          <span>Best Clothes For Men</span>
                                      </div>
                                      <div class="hover-content">
                                          <div class="inner">
                                              <h4>Men</h4>
                                              <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.</p>
                                              <div class="main-border-button">
                                                  <a href="#">Discover More</a>
                                              </div>
                                          </div>
                                      </div>
                                      <img src="{{ url_for('static', filename='img/fon.png') }}">
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="right-first-image">
                                  <div class="thumb">
                                      <div class="inner-content">
                                          <h4>Kids</h4>
                                          <span>Best Clothes For Kids</span>
                                      </div>
                                      <div class="hover-content">
                                          <div class="inner">
                                              <h4>Kids</h4>
                                              <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.</p>
                                              <div class="main-border-button">
                                                  <a href="#">Discover More</a>
                                              </div>
                                          </div>
                                      </div>
                                      <img src="{{ url_for('static', filename='img/fon.png') }}">
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-6">
                              <div class="right-first-image">
                                  <div class="thumb">
                                      <div class="inner-content">
                                          <h4>Accessories</h4>
                                          <span>Best Trend Accessories</span>
                                      </div>
                                      <div class="hover-content">
                                          <div class="inner">
                                              <h4>Accessories</h4>
                                              <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.</p>
                                              <div class="main-border-button">
                                                  <a href="#">Discover More</a>
                                              </div>
                                          </div>
                                      </div>
                                      <img src="{{ url_for('static', filename='img/fon.png') }}">
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- ***** Main Banner Area End ***** -->

  
  <section class="popular-categories">
   <div class="container-fluid">
     <div class="row">
       <div class="col-lg-6">
         <div class="section-heading">
           <h6>Our Categories</h6>
           <h4>Check Out <em>Popular</em> Contest <em>Categories</em></h4>
         </div>
       </div>
       <div class="col-lg-6">
         <div class="main-button">
           <a href="categories.html">Discover All Categories</a>
         </div>
       </div>
       <div class="col-lg-3 col-sm-6">
         <div class="popular-item">
           <div class="top-content">
             <div class="icon">
               <img src="{{ url_for('static', filename='img/fon.png') }}" alt="auto">
             </div>
             <div class="right">
               <h4>Nature Pic Contest</h4>
               <span><em>126</em> Available Contests</span>
             </div>
           </div>
           <div class="thumb">
             <img src="{{ url_for('static', filename='img/fon.png') }}" alt="">
             <span class="category">Top Contest</span>
             <span class="likes"><i class="fa fa-heart"></i> 256</span>
           </div>
           <div class="border-button">
             <a href="contest-details.html">Browse Nature Pic Contests</a>
           </div>
         </div>
       </div>
       <div class="col-lg-3 col-sm-6">
         <div class="popular-item">
           <div class="top-content">
             <div class="icon">
               <img src="assets/images/icon-02.png" alt="">
             </div>
             <div class="right">
               <h4>Random Pic Contest</h4>
               <span><em>116</em> Available Contests</span>
             </div>
           </div>
           <div class="thumb">
             <img src="assets/images/popular-02.png" alt="">
             <span class="category">Top Contest</span>
             <span class="likes"><i class="fa fa-heart"></i> 256</span>
           </div>
           <div class="border-button">
             <a href="contest-details.html">Browse Random Pic Contests</a>
           </div>
         </div>
       </div>
       <div class="col-lg-3 col-sm-6">
         <div class="popular-item">
           <div class="top-content">
             <div class="icon">
               <img src="assets/images/icon-03.png" alt="">
             </div>
             <div class="right">
               <h4>Portrait Pic Contest</h4>
               <span><em>164</em> Available Contests</span>
             </div>
           </div>
           <div class="thumb">
             <img src="assets/images/popular-03.png" alt="">
             <span class="category">Top Contest</span>
             <span class="likes"><i class="fa fa-heart"></i> 256</span>
           </div>
           <div class="border-button">
             <a href="contest-details.html">Browse Portrait Pic Contests</a>
           </div>
         </div>
       </div>
       <div class="col-lg-3 col-sm-6">
         <div class="popular-item">
           <div class="top-content">
             <div class="icon">
               <img src="assets/images/icon-04.png" alt="">
             </div>
             <div class="right">
               <h4>Space Pic Contest</h4>
               <span><em>135</em> Available Contests</span>
             </div>
           </div>
           <div class="thumb">
             <img src="assets/images/popular-04.png" alt="">
             <span class="category">Top Contest</span>
             <span class="likes"><i class="fa fa-heart"></i> 256</span>
           </div>
           <div class="border-button">
             <a href="contest-details.html">Browse Space Pic Contests</a>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>


{% endblock %}