{% extends "layout.html" %}
{% block titulo %}
NextWeb hub
{% endblock %}

{% block contenido%}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{url_for('index')}}">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav nav-pills">
        <li class="nav-item active">
          <a class="nav-link" href="{{url_for('logout')}}">logout</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{url_for('sProductos')}}">sProductos</a>
        </li>
        
      </ul>
    </div>
  </nav>
-------------------------------------------


<div class="container">
  {% with mensajes = get_flashed_messages() %}
  {% if mensajes  %}
    {% for m in mensajes %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{m}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
    {% endfor %}
  {% endif %}
{% endwith %}
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Correo</th>
        <th scope="col">Perfil</th>
        
        <th>
                <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addProduct">
  Launch demo modal
</button>
        </th>
        <th> &nbsp; </th>
        <th> &nbsp; </th>
        <th> &nbsp; </th>
        <th> &nbsp; </th>
        <th>
          <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#exampleModal">
         <i class="fa-solid fa-circle-plus fa-xl" style="color: #9462a3;"></i>
       </button> 
      </th>
      </tr>
    </thead>
    <tbody>
      {% for p in productos %}
      <tr>
        <th scope="row">{{ p[0] }}</th>
        <td>{{ p[1] }}</td>
        <td>{{ p[2] }}</td>
        <td>{{ p[4] }}</td>
        <td> 
          &nbsp;
        </td>
        <td> 
          <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#del{{p[0]}}">
            <i class="fa-solid fa-circle-minus fa-xl" style="color: #9462a3;"></i>
          </button>
        </td>
        <td> 

          <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#edit{{p[0]}}">
            <i class="fa-solid fa-pen-to-square fa-xl" style="color: #9462a3;"></i> 
          </button>
        </td>
        <td>  &nbsp;</td>
        <td>  &nbsp;</td>
        <th> &nbsp; </th>
        </tr>

      <!-- Modal update -->
      <div class="modal fade" id="edit{{p[0]}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="/uUsuario/{{p[0]}}" class="row g-3">
              <div class="modal-body">
                <div class="container text-center">
                  <div class="row">
                  <div class="row">
                    <div class="col-8">
                      <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fa-solid fa-envelope" style="color: #9462a3;"></i></span>
                        <div class="form-floating">
                          <input type="email" name="emailu" value="{{p[2]}}" class="form-control" id="inputEmail4" placeholder="Username">
                          <label for="inputEmail4" > Email</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="input-group mb-3">
                        <span class="input-group-text"><i class="fa-solid fa-at" style="color: #9462a2;"></i></span>
                        <div class="form-floating">
                          <input type="text" name="nameu" value="{{p[1]}}" class="form-control" id="inputNombre4" placeholder="Username">
                          <label for="inputNombre4">Username</label>
                        </div>
                      </div>
                    </div>
                  </div>
        
                  </div>
        
                      <div  class="col-md">
                        <div class="form-floating">
                          <select  name="perfilu" class="form-select" id="floatingSelectGrid">
                            <option selected value="{{p[4]}}">{{p[4]}}</option>
                            <option value="C">Cliente</option>
                            <option value="A">Administrador</option>
        
                          </select>
                          <label for="floatingSelectGrid">Eres</label>
                        </div>
                      </div>
                      
                    </div>
                   
                      <div class="col-md">
                        <div class="form-floating">
                          <input type="password" name="passwordu" class="form-control" id="floatingInputGrid" placeholder="Contraseña">
                          <label for="floatingInputGrid">Contraseña</label>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
              <hr class="dropdown-divider">
        
              <div class="d-grid gap-2 col-6 mx-auto">
                <button type="submit" class="btn" style="background-color: #9462a3;" type="button">Continuar</button>
               
              </div>
        
              <hr class="dropdown-divider">
              <hr class="dropdown-divider">
              
              <div class="d-grid gap-2 col-3 mx-auto">
                <button class="btn btn-secondary" type="button"><i class="fa-brands fa-google" style="color: #ffffff;"></i></button>
                <button class="btn btn-secondary" type="button"><i class="fa-brands fa-facebook" style="color: #ffffff;"></i></button>
              </div>
        
              <div class="modal-footer">
              </div>
              </form>
          </div>
        </div>
      </div>


<!-- Modal Delete -->
<div class="modal fade" id="del{{p[0]}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/dUsuario/{{p[0]}}" method="post">
      <div class="modal-body">
        <p>
          <i class="fa-solid fa-exclamation" style="color: #9462a3;"></i>
        </p>
        <p>
          ¿Estas seguro de que deaseas eliminar al usuario {{p[1]}}?
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
      </form>
    </div>
  </div>
</div>
      {% endfor %}



<!-- Modal Add user-->
<div class="modal fade" id="addUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="iUsuario" method="post">

      <div class="modal-body">
        <label for="name" class="label">Name</label>
          <input type="text" name="nameu" id="name" placeholder="Teff" class="input input-name">

          <label for="email" class="label">Email</label>
          <input type="text" name="emailu" id="email" placeholder="platzi@example.com" class="input input-email">

          <label for="password" class="label">Password</label>
          <input type="password" name="passwordu" id="password" placeholder="*********" class="input input-password">

          <label for="perfil" class="label">perfil</label>
          <select name="perfil" id="perfil" class="form-control">
            <option value="A">Administrador</option>
            <option value="c">Cliente</option>
          </select>
          <input type="password" name="perfilu" id="password"  class="input input-perfil">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </form>
    </div>
  </div>
</div>
    </tbody>
  </table>
</div>

{% endblock%}
