{% extends "layout.html" %}
{% block titulo %}
{% endblock %}
{% block contenido %}
  
<header class="header-area header-sticky">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <nav class="main-nav">
                  <!-- ***** Logo Start ***** -->
                  <a href="index.html" class="logo">
                    <img src="{{ url_for('static', filename='img/logo3.png') }}" alt="SnapX Photography Template">
                </a>
                  <!-- ***** Logo End ***** -->
                  <!-- ***** Menu Start ***** -->
                  <ul class="nav">
                      <li><a href="{{url_for('catalogoHome')}}">Catalogo</a></li>
                      <li><a href="{{url_for('categoriasUsuario')}}">Categorias</a></li>
                      <li><a class="active">{{usuario}}</a></li>
                      <li class="has-sub">
                        <a href="javascript:void(0)">Perfil</a>
                        <ul class="sub-menu">
                            <li><a href="contests.html">Editar Perfil</a></li>
                            <li><a href="{{url_for('logout')}}">Cerrar sesión</a></li>
                        </ul>
                    </li>
                  </ul> 
                  
                   
                  <div class="border-button">
                    <a href="{{url_for('sCarrito')}}"><i class="fa fa-shopping-cart"></i> Carrito</a>
                  </div>
                  
                  <!-- ***** Menu End ***** -->
              </nav>
          </div>
      </div>
  </div>
 </header>
 <!-- ***** Header Area End ***** -->

 
     <!-- HOME -->
     <section id="home">
      <div class="row">

                <div class="owl-carousel owl-theme home-slider">
                     <div class="item item-first">
                          <div class="caption">
                               <div class="container">
                                    <div class="col-md-6 col-sm-12">
                                         <h1>Descubre el Futuro de la Tecnología</h1>
                                         <h3>Explora nuestros productos de vanguardia diseñados para elevar tu experiencia digital.</h3>
                                         <a href="#featureusuario" class="section-btn btn btn-default smoothScroll">Discover more</a>
                                    </div>
                               </div>
                          </div>
                     </div>

                     <div class="item item-second">
                          <div class="caption">
                               <div class="container">
                                    <div class="col-md-6 col-sm-12">
                                         <h1>Embárcate en un Viaje con Excelencia Tecnológia</h1>
                                         <h3>Inicia tu viaje tecnológico con nuestros cursos prácticos y productos excepcionales. Libera el poder de la innovación en tus manos.</h3>
                                         <a href="#courses" class="section-btn btn btn-default smoothScroll">Take a course</a>
                                    </div>
                               </div>
                          </div>
                     </div>

                     <div class="item item-third">
                          <div class="caption">
                               <div class="container">
                                    <div class="col-md-6 col-sm-12">
                                         <h1>Ponte a la vanguardia Tecnologica</h1>
                                         <h3>Los mejores productos tecnologicos, que te facilitanlan la vida</h3>
                                         <a href="#contact" class="section-btn btn btn-default smoothScroll">Let's chat</a>
                                    </div>
                               </div>
                          </div>
                     </div>
                </div>
      </div>
 </section>


 <!-- FEATURE -->
 <section id="featureusuario">
      <div class="container">
           <div class="row">

                <div class="col-md-4 col-sm-4">
                     <div class="featureusuario-thumb">
                          <span><i class="fa-regular fa-hand-pointer"></i></span>
                          <h3>Elige</h3>
                          <p>Escoge los productos que más te gusten</p>
                     </div>
                </div>

                <div class="col-md-4 col-sm-4">
                     <div class="featureusuario-thumb">
                          <span><i class="fa-solid fa-plus"></i></span>
                          <h3>Agrega</h3>
                          <p>Da Agregar al carrito, los productos que quieras</p>
                     </div>
                </div>

                <div class="col-md-4 col-sm-4">
                     <div class="featureusuario-thumb">
                          <span><i class="fa-solid fa-money-bill"></i></span>
                          <h3>Paga</h3>
                          <p>Escribe tus datos para proceder con la Compra</p>
                     </div>
                </div>

           </div>
      </div>
 </section>

 
    
<div class="contenedor">
  <h1>Nuestros Productos en Venta</h1>

        
<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for producto in productos %}
      <div class="col">
          <div class="card">
              
              <img src= "{{url_for('static',filename='img/' + producto[4]) }}" alt="Imagen">


              <div class="card-body">
                  <h5 class="card-title">{{ producto[6] }}</h5>
                  <p class="card-text">{{ producto[3] }}</p>
                  <p class="card-text">Precio: ${{ producto[1] }}</p>
                  
      <a href="/addtocar/{{producto[0]}}/{{producto[1]}}" class="btn btn-primary">Agregar a carrito <i style="font-size: 25px;" class="fas fa-cart-plus"></i></a>
              </div>
          </div>            </div>
      {% endfor %}
  </div>
</div>

</div>

{% endblock %}
